
button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: hsl(210, 13%, 97%);
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: hsl(198, 76%, 52%);
}


.arrow-left-section img {
    width: 37px;
    height: 37px;
    position: fixed;
    top: 225px;
    right: 0;
    margin-right: 120px;
}

.header-right {
    display: flex;
    align-items: center;

}

h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
    gap: 30px;
    margin: 0;
}


h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
    margin-bottom: 0;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
}


.desktop-menu {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: hsla(215, 26%, 22%, 1);
    position: fixed;
    z-index: 2000;
}

.logo {
    width: 100.03px;
    height: 121.97px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
}

.logo-container button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.menu {
    width: 232px;
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.menu button {
    width: 232px;
    height: 46px;
    padding: 8px 53px;
    gap: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.menu button:hover {
    background-color: hsl(216, 36%, 26%);
}

.menu button.active {
    background-color: hsl(219, 67%, 12%);
}

/* button img {
    width: 30px;
    height: 30px;
} */

button p {
    color: hsla(0, 0%, 80%, 1);
}

.desktop-footer {
    display: flex;
    flex-direction: column;
    height: 317px;
}

.desktop-footer-content {
    padding-top: 130px;
    width: 100%;
}

.desktop-footer button {
    background-color: transparent;
    border: none;
    height: 35px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desktop-footer button p {
    color: hsla(0, 0%, 66%, 1);
    transition: transform 0.2s ease-in-out;
}

.desktop-footer button p:hover {
    color: hsl(198, 76%, 52%);
    transform: scale(1.1);
    font-weight: 550;
}

.header {
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: 20px 40px;
    padding-left: 348px;
    z-index: 1000;
    top: 0;
}

.header-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: black;
    width: 319px;
    height: 24px;
}

.logo-mobile {
    display: none;
}

.user-profile {
    position: fixed;
    right: 40px;
    width: 56px;
    height: 56px;
    gap: 16px;
    color: hsl(198, 76%, 52%);
    background-color: hsl(210, 13%, 97%);
    border: 3px solid hsla(215, 26%, 22%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.user-profile:hover {
    background-color: hsl(213, 18%, 90%);
    cursor: pointer;
}

.help-img {
    position: fixed;
    right: 110px;
    width: 32px;
    height: 32px;
    gap: 16px;
    transition: transform 0.2s ease-in-out;
}

.help-img:hover {
    transform: scale(1.1);
}

.d_none {
    display: none;
}

.sub-menu {
    background-color: hsla(215, 26%, 22%, 1);
    width: 150px;
    height: 158px;
    position: fixed;
    top: 136px;
    right: 20px;
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2000;
}

.sub-menu-content {
    color: hsl(0, 0%, 80%) !important;
}

.main-body {
    padding-bottom: 100px;
}

.mobile-menu {
    display: none;
}


@media (max-width: 1040px) {
    .desktop-menu {
        display: none;
    }

    .header-title {
        display: none;
    }

    .logo-mobile {
        height: 56px;
        width: 56px;
        display: flex;
    }

    .header {
        height: 80px;
        justify-content: space-between !important;
        padding: 0 40px;
    }

    footer {
        display: flex !important;
    }

    .mobile-menu {
        background-color: hsla(215, 26%, 22%, 1);
        width: 100%;
        height: 80px;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .mobile-menu button {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 76px;
        width: 80px;
    }

    .mobile-menu button a.active {
        background-color: hsla(216, 69%, 11%, 1);
        border-radius: 16px;
        height: 76px;
        width: 80px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .sub-menu {
        top: 80px;
    }


    .mobile-footer-content {
        background-color: hsla(215, 26%, 22%, 1);
        width: 100%;
        height: 80px;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }

    .mobile-footer-content button {
        background-color: transparent;
        border: none;
    }

    .footer-right-buttons button {
        background-color: transparent;
        border: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 76px;
        width: 120px;
    }

    .footer-right-buttons button a.active {
        background-color: hsla(216, 69%, 11%, 1);
        border-radius: 16px;
        height: 76px;
        width: 120px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-right-buttons{
        display: flex;
        gap: 10px;
    }
}


@media (max-width: 500px) {
    .user-profile {
        width: 45px;
        height: 45px;
    }

    .logo-mobile {
        width: 45px;
        height: 45px;
    }

    .mobile-menu button {
        height: 60px;
        width: 70px;
    }

    .mobile-menu button p {
        font-size: 14px;
    }

    .mobile-menu button a.active {
        width: 70px;
    }

    .footer-right-buttons button {
        height: 60px;
        width: 100px;
    }

    .footer-right-buttons button a.active {
        width: 100px;
    }

    .my-contact-info-mobile-header-content {
        gap: 100px;
    }
}