<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop Template</title>
    <link rel="stylesheet" href="/styles/standard.css">
    <link rel="stylesheet" href="/styles/fonts.css">
</head>

<body>

    <header>
        <p>Kanban Project Management Tool</p>
        <div class="user-container">
            <img class="help-icon" src="/assets/icons/help.png" alt="">
            <span class="user-icon">G</span>
        </div>
    </header>

    <aside>
        <nav>
            <div class="nav-container">
                <img class="logo" src="/assets/img/join-logo-white.png" alt="">
                <div class="nav-box">
                    <a href=""><img src="/assets/icons/summary.png" alt="">Summary</a>
                    <a href=""><img src="/assets/icons/add_task.png" alt="">Add Task</a>
                    <a href=""><img src="/assets/icons/board.png" alt="">Board</a>
                    <a href=""><img src="/assets/icons/contacts.png" alt="">Contacts</a>
                </div>
            </div>
            <div class="nav-box-privacy-legal">
                <a href="">Privacy Policy</a>
                <a href="">Legal Notice</a>
            </div>
        </nav>
    </aside>

    <section class="content">
        hier kommt der contentasd
    </section>



</body>

</html>