.content-footer {
  display: flex;
  justify-content: space-between;
  padding-right: 48px;
}

.content {
  padding-top: 100px;
  padding-left: 100px;
}

.add-task-main {
  display: flex;
}

.add-task-main-left {
  display: flex;
  flex-direction: column;
}

.add-task-main-right {
  display: flex;
  flex-direction: column;
}
