* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.board-container {
    margin-left: 300px;
    margin-top: 200px;
    max-width: 1440px;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.board-header-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    padding: 4px 12px;
    width: 350px;
    justify-content: space-between;
}

.input-search {
    border: none;
    height: 48px;
    border-radius: 10px;
}

.input-search:focus {
    outline: none;
}

.input-search::placeholder {
    font-size: 16px;
    color: #d1d1d1;
}

.search-box-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
    height: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.board-add-task-btn {
    background-color: #2a3647;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border: none;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-add-task-btn:hover {
    background-color: #29abe2;
    cursor: pointer;
}

.board-main {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.board-main-box {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 350px;
}

.board-main-box-title {
    font-size: 20px;
    font-weight: 700;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    height: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-category {
    background: #0038ff;
    border-radius: 8px;
    padding: 4px 16px;
    color: #ffffff;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    color: #2a3647;
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a8;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;

}

.drag-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 200px;
    border-radius: 24px;
    border: 1px dashed #0000001a;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.05);
}

.board-overlay {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.board-overlay-card {
    height: 700px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 48px 40px;
    gap: 24px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    /* Transition hier setzen */
}

/* Neu: Sichtbar machen durch reinsliden */
.board-overlay-card-show {
    transform: translateX(0);
    transition: 175ms ease;
}

/* Optional: Kein Transition beim Verstecken */
.board-overlay-card-hide {
    transform: translateX(100%);
    transition: 175ms ease;
}

.overlay-card-category {
    background: #0038FF;
    color: #ffffff;
    width: 164px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.overlay-card-title {
    font-size: 61px;
    font-weight: 700;
}

.overlay-card-description {
    font-size: 20px;
}

.overlay-card-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.overlay-card-footer div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}