* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.board-container {
    margin-left: 300px;
    margin-top: 200px;
    max-width: 1440px;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.board-header-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    padding: 4px 12px;
    width: 300px;
    height: 38px;
    justify-content: space-between;
}

.input-search {
    border: none;
    font-family: inherit;
    width: 100%;
}

.input-search:focus {
    outline: none;
}

.input-search::placeholder {
    font-size: 16px;
    color: #d1d1d1;
    align-content: center;
}

.search-box-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
    height: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.board-add-task-btn {
    background-color: #2a3647;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border: none;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-add-task-btn:hover {
    background-color: #29abe2;
    cursor: pointer;
}

.board-main {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.board-main-box {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 350px;
}

.board-main-box-title {
    font-size: 20px;
    font-weight: 700;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-main-box-title img:hover {
    cursor: pointer;
}

.card {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 16px;
    gap: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-category {
    border-radius: 8px;
    padding: 4px 16px;
    color: #ffffff;
}

.category-user {
    background-color: #0038FF;
}

.category-technical {
    background-color: #1FD7C1;
    ;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
    color: #2a3647;
}

.card-description {
    font-size: 16px;
    font-weight: 400;
    color: #a8a8a8;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;

}

.drag-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 350px;
    border-radius: 24px;
}

/* .drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.05);
} */

.dragging {
    transform: rotate(5deg);
   
    transition: transform 0.2s ease;
}

.empty-message {
    background-color: rgba(231, 231, 231, 1.0);
    color: rgba(168, 168, 168, 1.0);
    border-radius: 10px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 1px rgba(168, 168, 168, 1.0);
    padding: 16px 24px;
    text-align: center;
}

.board-overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3000;
    background-color: rgba(22, 31, 44, 0.294);
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-overlay-card {
    height: 700px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 48px 40px;
    gap: 24px;
    box-shadow: 0px 0px 4px 0px #00000029;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}



.overlay-card-category {
    color: #ffffff;
    width: 164px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.overlay-card-title {
    font-size: 61px;
    font-weight: 700;
}

.overlay-card-description {
    font-size: 20px;
}

.overlay-card-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.delete-btn,
.edit-btn {
    display: flex;
    align-items: center;
    gap: 4px;
}

.delete-btn:hover,
.edit-btn:hover {
    cursor: pointer;
    color: #29abe2;
}

.ok-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
}

.ok-btn:hover {
    background-color: #29abe2;
    cursor: pointer;
}

.d-none {
    display: none;
}

.hallo {
    background-color: #0038FF;
}