* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter", "sans-serif";
  display: flex;
  height: 100vh;
  position: relative;
}

header {
  height: 96px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 24px 24px 24px 256px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: -1;
}

.container {
  display: flex;
  width: 100%;
}

.content {
  padding: 24px;
  width: calc(100% - 232px);
  background-color: #F6F7F8;
  margin-top: 96px;
  z-index: -2;
}

.help-icon {
  height: 16px;
}

.user-icon {
  border: 3px solid #2a3647;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  color: #29abe2;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

aside {
  background-color: #2a3647;
  width: 232px; 
  z-index: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;

}

nav {
  padding: 40px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.logo {
  width: 96px;
}

.nav-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-box a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #cdcdcd;
}

.nav-box-privacy-legal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-box-privacy-legal a {
  color: #a8a8a8;
}
