.join {
    color: hsl(198, 76%, 52%);
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.help-frame {
    width: 138px;
    height: 73px;
    margin-top: 60px;
    margin-left: 328px;
    gap: 30px;
}

.legal-notice-frame {
    width: 371px ;
}

.privacy-policy-frame {
    width: 419px ;
}

.p-legal-notice {
    padding-top: 16px ;
}

.comment-section-input {
    overflow: scroll;
    border: 2px solid black;
    height: 80px;
    padding: 7px 5px;
}

.what-is-join-section {
    gap: 16px;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 328px;

}

.how-to-use-it-section {
    display: flex;
    flex-direction: column;
}

.step-by-step-guide-section {
    display: flex;
    gap: 35px;
}

.help-last-section {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.help-bottom-line {
    padding-bottom: 32px;

}

.last-section {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 32px;
}