

.join{
    color: hsl(198, 76%, 52%);
}

a{
    text-decoration: none;
    color: hsl(198, 76%, 52%);
}

.help-frame{
    width: 138px;
    height: 73px;
    margin-top: 206px;
    margin-left: 328px;
    gap: 30px;
}

.legal-notice-frame{
    width: 371px !important;
}
h1{
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
    gap: 30px;
};

.user-profile{
    position: fixed;
    right: 0;
    margin-right: 40px;
    width: 56px;
    height: 56px;
    gap: 16px;
    color: hsl(198, 76%, 52%);
    background-color: hsla(210, 13%, 97%, 1);
    border: 3px solid hsla(215, 26%, 22%, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.arrow-left-section img {
    width: 37px;
    height: 37px;
    position: fixed;
    top: 225px;
    right: 0;
    margin-right: 120px;
}


h2{
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
}

h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    color: hsla(0, 0%, 0%, 1);
    margin-bottom: 0;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
}

.p-legal-notice{
    padding-top: 16px !important;
}

main{
    display: flex;
    flex-direction: column;
    
}


.comment-section-input{
    overflow: scroll;
    border: 2px solid black;
    height: 80px;
    padding: 7px 5px;
}


.what-is-join-section{
    gap: 16px;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 1024px;
    margin-top: 32px;
    margin-left: 328px;
}

.how-to-use-it-section {
    display: flex;
    flex-direction: column;
}

.step-by-step-guide-section {
    display: flex;
    gap: 35px;
}

.last-section {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}