@media (max-width: 800px) {
    
    .loader {
        background-color:rgba(42, 54, 71, 1);
    }

    #animated-logo.mobile-white {
    content: url('./assets/img/1. join-frontpage/join-logo-white.svg');
  }
    .register-container {
        display: none;
    }

    .register-container-mobile {
        display: flex;
        font-size: 18px;
    }

    .logo-image {
        width: 70px;
        height: 121.97px;
    }

    .log-in-button {
        font-size: 18px;
    }

    .log-in-button,
    .guest-log-in-button,
    .register-button {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .logo-image {
        Width: 64px;
        Height: 78.03px;

    }

    .logo-section {
        top: 37px;
        left: 38px;
    }

    .log-in-container {
        padding: 30px 25px;
        border-radius: 20px;
    }

    .submit-container {
        flex-direction: column;
        width: 50%;
        margin: auto;
    }

    .log-in-button,
    .guest-log-in-button {
        padding: 0 10px !important;
        font-size: 16px;
    }

    .register-button {
        font-size: 16px;
    }

    .submit-container {
        gap: 20px;
    }
}


/* ============== HEIGHT MEDIA ============= */
@media (max-height: 800px) {
    .register-container-mobile {
        bottom: 80px;
    }

    footer {
        bottom: 30px;
    }

}