@media(max-width: 1232px) {

    .board-container {
        margin-left: 240px;
        margin-top: 160px;
        max-width: 1440px;
    }

    .board-main {

        padding: 16px;
    }

}

@media(max-width: 1040px) {
    .board-main {
        flex-direction: column;
        overflow-x: auto;
        flex-wrap: nowrap;
        height: 100%;
        max-height: unset;
    }

    .board-header {
        display: block;
        padding: 24px 16px;
    }

    .board-header-mobile {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        padding: 8px 0;
        margin-top: 40px;
    }

    .board-main-box {
        width: auto;
        padding: 0;
        margin-top: 12px;
    }

    .board-header-add-task {
        display: block;
        cursor: pointer;
    }

    .board-add-task-btn {
        display: none;

    }

    .drag-area {
        flex-direction: row;
        overflow: auto;
        overflow-y: visible;
        min-height: unset;
        padding-bottom: 4px;
        height: 100%;
    }

    .board-container {

        margin-top: 50px;
        margin-left: 0;
    }

    .card {
        max-width: 170px;
        padding: 12px 8px;
    }

    .board-add-task-modal .form-cols {
        gap: 0;
    }

    .form-actions {
        padding: 0;
    }

    .board-add-task-modal {
        gap: 0;
        padding: 24px;
        max-width: 500px;
    }
}