@media(max-width: 1300px) {

    /* contact info section */
    .contacts-list {
        width: 360px;
    }

    .header-div {
        top: 170px;
        left: 620px;
    }

    .my-contact-information-section {
        top: 280px;
        left: 620px
    }

    .Contacts-span {
        font-size: 40px;
    }

    .better-with-a-team-span {
        font-size: 20px;
    }

    .user-name {
        font-size: 28px;
    }

    .my-profile-icon {
        font-size: 30px;
        width: 80px;
        height: 80px;
    }

    .contact-information-div {
        font-size: 18px;
    }

    .email-and-phone-section {
        font-size: 14px;
    }


    .contacts-list-header button {
        width: 300px;
    }

    .alphabet {
        width: 280px;
    }

    .contact {
        width: 275px;
        font-size: 16px;
    }

    .alphabet-devider {
        width: 300px;
    }
}

@media(max-width: 1232px) {

    /* ====== ADD NEW CONTACT TEMPLATE ====== */
    .add-new-contact-right-section-main {
        gap: 20px;
    }

    .add-contact-form {
        width: 260px;
    }

    .add-new-contact-template {
        height: 400px;
        width: 700px;
    }

    .add-new-contact-template-left-text h2 {
        font-size: 30px !important;
    }

    .add-new-contact-template-left-text p {
        font-size: 16px !important;
    }

    .new-contact-profile-icon {
        height: 100px;
        width: 100px;
        padding-top: 65px;
    }

    .input-group {
        width: 180px;
        height: 15px;
    }

    .input-group input {
        font-size: 14px;
    }

    .create-btn {
        width: 100px;
        height: 50px;
        font-size: 14px;
        padding: 10px;
    }

    .cancel-btn {
        width: 90px;
        height: 50px;
        font-size: 14px;
        padding: 10px;
    }

    .save-btn {
        width: 90px;
        font-size: 16px;
    }

    .delete-btn {
        width: 90px;
        padding: 10px;
        display: block;
        font-size: 16px;
    }

    .add-new-contact-template-x {
        height: 30px;
        margin-bottom: 40px;
        margin-left: 320px;
    }

    .add-new-contact-right-section {
        padding-bottom: 20px;
    }
}


@media(max-width: 1040px) {

    /* ====== CONTACT INFO SECTION ====== */
    .contacts-list {
        left: 0;
        top: 80px;
    }

    .header-div {
        top: 110px;
        left: 400px;
    }

    .my-contact-information-section {
        top: 220px;
        left: 400px;
    }

    .better-with-a-team-span {
        font-size: 18px;
    }

    .sub-menu {
        top: 80px;
        right: 0px;
    }
}

@media(max-width: 800px) {
    .my-contact-info {
        display: none;
    }

    .contacts-list-header {
        display: none;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 70px;
        height: calc(100vh - 160px);
        width: 100%;
    }

    .all-contacts {
        width: 100%;
        overflow-y: auto;
        flex-grow: 1;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-new-contact-button {
        display: flex;
    }

    /* ====== ADD NEW CONTACT TEMPLATE ====== */
    .add-new-contact-template {
        height: 700px !important;
        width: 450px !important;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;
    }

    .add-new-contact-left-section {
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        padding-left: 40px;

        height: 40%;
    }

    .add-new-contact-right-section {
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 0px;

        height: 60%;
    }

    .add-new-contact-left-section *,
    .add-new-contact-right-section * {
        max-width: 100%;
    }

    .add-new-contact-template-x {
        display: none;
    }

    .add-new-contact-right-section-main {
        display: flex !important;
        gap: 10px;
        justify-content: center !important;
        align-items: center;
        flex-direction: column !important;
    }

    .new-contact-profile-icon {
        height: 100px;
        width: 100px;
        margin-top: -350px;
        margin-bottom: 20px;

    }

    .cancel-btn {
        display: none;
    }

    .create-btn {
        width: auto;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    .input-group {
        width: 350px;
    }

    .add-contact-form {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-buttons {
        width: 50%;
    }

    .logo-section {
        display: none;
    }

    .add-new-contact-template-x-mobile {
        display: flex;
    }

    .add-new-contact-template-left-text h2 {
        font-size: 47px !important;
    }

    .add-new-contact-template-left-text p {
        font-size: 20px !important;
    }

    /* ====== SHOW CONTACT INFO OVERLAY ====== */


    .my-contact-information-section-mobile {
        display: flex;
    }

    .my-contact-information-section-mobile-content {
        display: flex;
    }

    .profile-badge-and-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: auto;
    }

    .user-name {
        height: 36px;
        font-weight: 700;
        width: auto;
    }

    .email-and-phone-section {
        width: auto;
    }


    .header-div-mobile {
        display: flex;
    }

    .user-contact-informtion {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .email-and-phone-span {
        font-weight: 700;
    }

    .my-contact-info-mobile-header-content {
        gap: 280px;
    }




}

@media(max-width: 500px) {
    .create-btn {
        font-size: 12px;
    }

    .add-new-contact-template {
        width: 300px !important;
        height: 650px !important;
    }

    .add-new-contact-template-left-text h2 {
        font-size: 35px !important;
    }

    .add-new-contact-template-left-text p {
        font-size: 14px !important;
    }

    .input-group {
        width: 200px;
    }

    .contact {
        padding: 10px 10px;
        gap: 25px;
        font-size: 16px;
        width: 260px;
        margin-left: 0px;
    }

    .alphabet {
        font-size: 18px;
    }

    .alphabet-devider {
        width: 280px;
    }

    /* ====== HEADER FOOTER ====== */
    .user-profile {
        width: 45px;
        height: 45px;
    }

    .logo-mobile {
        width: 45px;
        height: 45px;
    }

    .mobile-menu button {
        height: 60px;
        width: 70px;
    }

    .mobile-menu button p {
        font-size: 14px;
    }

    .mobile-menu button a.active {
        width: 70px;
    }

    .my-contact-info-mobile-header-content {
        gap: 100px;
    }
}