@media (max-width: 1440px) {
  .logo-section {
    left: 5% !important;
  }
}

@media (max-width: 425px) {
  .logo-section {
    left: 5% !important;
  }
}

@media (max-width: 375px) {
  .error-message {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .error-message {
    font-size: 12px;
  }
}