@media (max-width: 1440px) {
  .logo-section {
    left: 5% !important;
  }
}

@media (max-width: 425px) {
  .logo-section {
    left: 5% !important;
  }
}

@media (max-width: 375px) {
  .error-message {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .error-message {
    font-size: 12px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 7e4a6cee6401a74df9267362628c55237a089db9
