h1 {
  font-size: 64px;
}

.content-container {
  padding-top: 100px;
  padding-left: 100px;
}

.summary-headline {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.summary-body {
  display: flex;
  gap: 48px;
}