#add-task-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 10;
  width: 75%;
  height: 85%;
  max-height: 850px;
  max-width: 1300px;
  border-radius: 20px;
  animation: slideInFromRightToCenter 0.2s ease-out forwards;
  overflow-x: hidden;
}

@keyframes slideInFromRightToCenter {
  0% {
    transform: translate(100%, -50%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
  color: #2a3647 !important;
  height: 100vh;
}

.red {
  color: #ff8190;
}

.headline {
  margin-left: calc(270px - 208px) !important;
}

.display-splitter {
  display: flex;
  margin: 90px;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.add-task-h1 {
  padding-top: 76px;
  padding-bottom: 22px;
  font-size: 54px;
  margin: 0;
  margin-left: 108px;
  color: black;
}

.overlay-subtasks {
  max-height: 250px;
  overflow-y: auto;
}

.overlay-subtasks::-webkit-scrollbar {
  width: 6px;
}

.overlay-subtasks::-webkit-scrollbar-track {
  background: transparent;
}

.overlay-subtasks::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.subtask-list {
  max-height: 150px;
  overflow-y: auto;
}

.subtask-list::-webkit-scrollbar {
  width: 6px;
}

.subtask-list::-webkit-scrollbar-track {
  background: transparent;
}

.subtask-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.border {
  background-color: #d1d1d1;
  width: 1px;
  height: 381px;
}

.left-section {
  display: flex;
  min-height: 338px;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
  margin-bottom: 43px;
}

.right-section {
  display: flex;
  min-height: 381px;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
}

p {
  font-size: 18px !important;
  margin: 7px !important;
}

input {
  width: 100%;
  border-radius: 9px;
  height: 43px;
  padding-left: 7px;
  font-size: 20x !important;
  font-weight: 400;
}

input::placeholder {
  color: #d1d1d1;
}

#description-input {
  height: 108px !important;
  padding-bottom: 54px;
  max-width: 396px !important;
  min-width: 396px !important;

  border-color: lightgray;
  border-width: 2px;
}

.add-task-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addtaskx {
  visibility: visible;
  padding-top: 50px;
  margin-right: 108px;
  display: flex;
  width: 25px;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
}

#addtaskx:hover img {
  padding: 4px;
  border-radius: 30px;
  background-color: rgb(217, 215, 215);
}

#category {
  width: 396px;
  border-radius: 9px;
  height: 43px;
  font-size: 18px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 9px;
  width: 100%;
  background-color: white;
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
  padding: 4px;
}

.fake-width {
  height: 0;
  width: 396px;
}

.icons {
  display: flex;
  gap: 4px;
}

.icon {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_none {
  display: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-top: 4px;
  transition: background 0.3s;
  height: 45px;
  padding: 1px;
}

.user-icon {
  width: 37px;
  height: 37px;
  border-radius: 18px;
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color: #29abe2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-initials {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0px solid #ccc;
}

.contact-checkbox {
  margin-right: 9px !important;
  width: 18px !important;
}

.contact-name {
  flex-grow: 1;
}

.task:hover {
  background: #e0e0e0;
}

.task:hover ::marker {
  color: yellowgreen;
}

#subtaskInput {
  font-size: 18px;
}

.arrow-drop-down {
  width: 21px;
  height: 21px;
  cursor: pointer;
  padding: 9px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 9999 !important;
}

.arrow-drop-down:hover {
  background-color: #e0e0e0;
}

.arrow-up-img {
  width: 7px;
  height: 7px;
}

#dropdownInput {
  padding: 7px;
  display: flex;
  font-size: 18px;
}

#dropdownInput::placeholder {
  color: black;
  opacity: 1;
}

.task-icons {
  display: none;
  gap: 4px;
}

.task:hover .task-icons {
  display: flex;
}

.task-icons .icon {
  font-size: 14px;
  cursor: pointer;
}

.prio-urgent {
  color: white;
  background-color: #ff3d00;
}

#prio-urgent img {
  height: 12px !important;
}

.prio-medium {
  color: white;
  background-color: #ffa800;
}

.prio-low {
  color: white;
  background-color: #7ae229;
}

#prio-low img {
  height: 12px !important;
}

.prio-box {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.prio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  border-radius: 9px;
  cursor: pointer;
  border: solid #ddd 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.prio img {
  height: 9px;
  padding-left: 4px;
}

.dropdown-menu {
  max-height: 108px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 396px;
  background-color: white;
  margin: 0;
  position: absolute;
}

ul {
  width: 396px;
  height: 45px;
}

.subtask-list {
  margin: 20px 0;
}

.create-clear-button {
  height: 50px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: background 0.3s, box-shadow 0.3s;
}

#clear-button {
  width: 99px;
  background: white;
  color: black;
  border: 1px solid #ccc;
}

#clear-button img {
  height: 10.44px;
}

#clear-button:hover {
  background: #e0f0ff;
  border-color: #007bff;
}

#createtask-button {
  width: 164px;
  background: #1e293b;
  color: white;
}

#createtask-button:hover {
  background: #3ea8ff;
}

#createtask-button img {
  width: 15.49;
  height: 11.19px;
  filter: brightness(0) saturate(100%) invert(1);
}

footer {
  padding-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-bottom-right {
  display: flex;
  width: 390px;
  gap: 18px;
}

.fiel-Is-Required-Div {
  width: 381px;
  padding-left: 108px;
}

.title-p {
  margin-top: 0;
  padding-top: 0;
}

.selectedInitials {
  display: flex;
  position: absolute;
  margin-top: 4px;
}

.selected-User-Initials {
  padding-bottom: 4px;
}

.input-error {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 10px;
  margin-top: 4px;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.4);
  filter: brightness(0.6);
  transition: background-color 0.3s ease, filter 0.3s ease;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.bottom-add-task-overlay-section {
  justify-content: space-between !important;
}

/* Responsive */

@media (max-width: 1440px) {
  #add-task-overlay {
    overflow: scroll !important;
    overflow-x: hidden;
  }

  .buttons-bottom-right {
    justify-content: space-between;
  }

  #add-task-overlay::-webkit-scrollbar-button {
    display: none;
    height: 0;
  }

  #add-task-overlay::-webkit-scrollbar {
    width: 6px;
  }

  #add-task-overlay::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
  }

  #add-task-overlay::-webkit-scrollbar-track {
    background: transparent;
  }

  .no-tasks-container {
    height: auto;
  }

  .overlay-background {
    overflow: hidden;
    overflow-y: hidden;
  }

  .subtasks {
    width: 88%;
  }

  #addtaskx {
    margin-right: 5%;
  }

  .add-task-h1 {
    margin-left: 5% !important;
  }

  .display-splitter {
    display: flex;
    flex-direction: column;
  }

  .border {
    display: none;
  }

  .left-section {
    width: 90% !important;
  }

  #description-input {
    width: 100% !important;
    max-width: 100% !important;
  }

  .right-section {
    width: 90%;
  }

  #category {
    width: 100%;
  }

  .prio-box {
    flex-wrap: wrap;
  }

  .bottom-add-task-overlay-section {
    display: flex;
    justify-content: center !important;
    background-color: white !important;
    padding-bottom: 20px !important;
  }

  .fiel-Is-Required-Div {
    width: 90%;
    padding-left: 0px;
  }

  .dropdown-menu {
    width: 90%;
  }

  .fiel-Is-Required-Div {
    display: none;
  }

  .contact-container {
    padding-bottom: 175px;
  }
}

@media (max-width: 1000px) {
  #add-task-overlay {
    width: 90%;
    padding: 5%;
  }

.subtasks{
    width: 78%;
  }

  .dropdown-menu {
    width: 80%;
  }
}


@media (max-width: 650px) {
  #add-task-overlay {
    height: auto;
    max-height: 95vh;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding-bottom: 30px;
  }


  .add-task-h1 {
    font-size: 40px;
  }

  .dropdown-menu {
    width: 80% !important;
  }

  .bottom-add-task-overlay-section {
    padding: 0;
  }

  #description-input {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .bottom-add-task-overlay-section {
    padding-bottom: 75px !important;
    padding-top: 25px !important;
  }
}

@media (max-width: 570px) {
  .add-task-title-input {
    width: 100% !important;
  }

  .error-message {
    margin-top: 4px !important;
  }

  .add-task-h1 {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .overlay-delete-edit {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  #task-overlay {
    max-height: 80%;
  }

  .date-div {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}